@import "tailwindcss";
@import "../../../internal-packages/workflow-designer-ui/src/workflow-designer-ui.css";

@source "../../../internal-packages/workflow-designer-ui/src";
@source "../../../packages/text-editor/src/react/";

@theme {
	--color-true-white: hsl(0 0% 100%);
	--color-white: hsl(220 60% 98%);
	--color-white-20: hsl(207 43% 91%);
	--color-white-50: hsl(207 16% 75%);
	--color-true-black: hsl(0, 0%, 0%);
	--color-black: hsl(229 100% 2%);
	--color-black-20: hsl(231 62% 6%);
	--color-black-30: hsl(207 19% 77%);
	--color-black-40: hsl(222, 21%, 40%);
	--color-blue: hsl(219, 90%, 52%);
	--color-blue-20: hsl(212, 79%, 87%);
	--color-blue-60: hsl(223, 23%, 67%);

	--color-text-node-1: hsl(178, 94%, 49%);
	--color-text-node-2: hsl(178, 95%, 25%);

	--color-file-node-1: hsl(69, 100%, 52%);
	--color-file-node-2: hsl(69, 99%, 32%);

	--color-generation-node-1: hsl(219, 90%, 52%);
	--color-generation-node-2: hsl(219, 98%, 23%);
}

@layer components {
	.prompt-editor {
		/* Base variables */
		--base-font-size: 14;
		--rem-base: calc(var(--base-font-size) / 16);
		--line-height-ratio: calc(20 / var(--base-font-size));

		/* Font sizes */
		--text-base: calc(var(--rem-base) * 1rem);
		--text-sm: calc(var(--base-font-size) * 0.857142857 / 16 * 1rem); /* 12px */

		/* Spacing */
		--spacing-1: calc(1 / var(--base-font-size) * 1em);
		--spacing-2: calc(6 / var(--base-font-size) * 1em);
		--spacing-4: calc(16 / var(--base-font-size) * 1em);
		--spacing-5: calc(20 / var(--base-font-size) * 1em);
		--spacing-6: calc(22 / var(--base-font-size) * 1em);

		/* Border radius */
		--radius-base: calc(4 / var(--base-font-size) * 1rem);

		/* Base styles */
		color: var(--color-white);
		font-size: var(--text-base);
		line-height: var(--line-height-ratio);

		&:focus-visible {
			outline: none;
		}

		/* Paragraph */
		p {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
		}

		/* Bold */
		strong {
			font-weight: 600;
		}

		/* Italic */
		em {
			font-style: italic;
		}

		/* Strike */
		del {
			text-decoration: line-through;
		}

		/* Lists */
		ul {
			list-style-type: disc;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		ol {
			list-style-type: decimal;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		li {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
			padding-left: var(--spacing-2);
		}

		/* Inline code */
		code {
			color: #111827;
			font-weight: 600;
			font-size: var(--text-sm);
		}

		code::before {
			content: "`";
		}

		code::after {
			content: "`";
		}

		/* Code block */
		pre {
			--pre-font-size: 12;
			--pre-line-height: calc(20 / var(--pre-font-size));

			color: #e5e7eb;
			background-color: #1f2937;
			overflow-x: auto;
			font-weight: 400;
			font-size: var(--text-sm);
			line-height: var(--pre-line-height);
			margin-top: calc(20 / var(--pre-font-size) * 1em);
			margin-bottom: calc(20 / var(--pre-font-size) * 1em);
			border-radius: var(--radius-base);
			padding-top: calc(8 / var(--pre-font-size) * 1em);
			padding-bottom: calc(8 / var(--pre-font-size) * 1em);
			padding-left: calc(12 / var(--pre-font-size) * 1em);
			padding-right: calc(12 / var(--pre-font-size) * 1em);
		}

		pre code {
			background-color: transparent;
			border-width: 0;
			border-radius: 0;
			padding: 0;
			font-weight: inherit;
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			line-height: inherit;
		}

		pre code::before {
			content: none;
		}

		pre code::after {
			content: none;
		}
	}
}
