@import "tailwindcss";

@theme {
	/* v2 theme */

	/* border */
	--color-border: #464b57;
	--color-border-variant: #363c46;
	--color-border-focused: #47679e;
	--color-border-selected: #293b5b;
	--color-border-transparent: #000000;
	--color-border-disabled: #414754;

	/* surface */
	--color-elevated-surface-background: #2f343e;
	--color-surface-background: #2f343e;
	--color-background: #3b414d;

	/* element */
	--color-element-background: #2e343e;
	--color-element-hover: #363c46;
	--color-element-active: #454a56;
	--color-element-selected: #454a56;
	--color-element-disabled: #2e343e;

	/* tab */
	--color-tabbar-background: #2f343e;
	--color-tab-inactive-background: #2f343e;
	--color-tab-active-background: #282c33;

	/* text */
	--color-text: #dce0e5;
	--color-text-muted: #a9afbc;
	--color-text-placeholder: #878a98;
	--color-text-disabled: #878a98;
	--color-text-accent: #74ade8;

	/* panel */
	--color-panel-background: #2f343e;

	/* editor */
	--color-editor-foreground: #acb2be;
	--color-editor-background: #282c33;
	--color-editor-gutter-background: #282c33;
	--color-editor-subheader-background: #2f343e;
	--color-editor-active-line-background: #2f343e;
	--color-editor-highlighted-line-background: #2f343e;
	--color-editor-line-number: #4e5a5f;
	--color-editor-active-line-number: #d0d4da;
	--color-editor-hover-line-number: #acb0b4;
	--color-editor-invisible: #878a98;
	--color-editor-wrap-guide: #c8ccd4;
	--color-editor-active-wrap-guide: #c8ccd4;
	--color-editor-document-highlight-read-background: #74ade8;
	--color-editor-document-highlight-write-background: #555a63;

	/* ghost */
	--color-ghost-element-background: #000000;
	--color-ghost-element-hover: #363c46;
	--color-ghost-element-active: #454a56;
	--color-ghost-element-selected: #454a56;
	--color-ghost-element-disabled: #2e343e;

	/* status */
	--color-conflict: #dec184;
	--color-created: #a1c181;
	--color-deleted: #d07277;
	--color-error: #d07277;
	--color-hidden: #878a98;
	--color-hint: #788ca6;
	--color-ignored: #878a98;
	--color-info: #74ade8;
	--color-modified: #dec184;
	--color-predictive: #5a6a87;
	--color-renamed: #74ade8;
	--color-success: #a1c181;
	--color-unreachable: #a9afbc;
	--color-warning: #dec184;
}
