.mask-fill {
	-webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
	-webkit-mask-clip: padding-box, border-box;
	-webkit-mask-composite: destination-out;
}

.giselle-workflow-editor.react-flow {
	background-color: transparent;
}

.giselle-workflow-editor .react-flow__pane {
	border: 0.5px solid rgba(235, 235, 235, 0.15);
	box-shadow: inset 0 0 40px rgba(200, 200, 200, 0.15);
}

.giselle-workflow-editor .react-flow__pane.selection {
	cursor: default;
}
.giselle-workflow-editor[data-floating-node="true"]
	.react-flow__pane.selection {
	cursor: crosshair;
}
.giselle-workflow-editor .react-flow__node.selectable {
	cursor: default;
}
.giselle-workflow-editor .react-flow__node.draggable.dragging {
	cursor: default;
}
.giselle-workflow-editor .react-flow__edge.selectable {
	cursor: default;
}

@theme {
	--animate-pop-pop-1: pop-pop 2.1s steps(1) infinite;
	--animate-pop-pop-2: pop-pop 2.1s steps(1) 0.7s infinite;
	--animate-pop-pop-3: pop-pop 2.1s steps(1) 1.4s infinite;
	@keyframes pop-pop {
		0% {
			transform: translateY(0);
		}
		10% {
			transform: translateY(-4px);
			color: var(--color-white-900);
		}
		30% {
			transform: translateY(0);
			color: inherit;
		}
	}

	--animate-follow-through-overlap-spin: follow-through-overlap-spin 1.75s
		ease-out infinite;
	@keyframes follow-through-overlap-spin {
		0% {
			transform: rotate(0deg);
		}
		40% {
			transform: rotate(-400deg);
		}
		60% {
			transform: rotate(-300deg);
		}
		80% {
			transform: rotate(-370deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}

	@keyframes slideDown {
		from {
			height: 0px;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes slideUp {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0px;
		}
	}
	--animate-slideDown: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
	--animate-slideUp: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
	@keyframes shimmer {
		0% {
			background-position: 200% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	--animate-shimmer: shimmer 2s infinite;
}

@property --button-gradient-angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 15deg;
}
@theme {
	--animate-rotate-button-gradient-angle: rotate-button-gradient-angle 3s linear
		infinite;
	@keyframes rotate-button-gradient-angle {
		to {
			--button-gradient-angle: 360deg;
		}
	}

	--language-model-toggle-group-popover-width: 400px;
	--language-model-detail-panel-width: 350px;
}
