.mask-fill {
	-webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
	-webkit-mask-clip: padding-box, border-box;
	-webkit-mask-composite: destination-out;
}

.giselle-workflow-editor .react-flow__pane.selection {
	cursor: default;
}
.giselle-workflow-editor[data-floating-node="true"]
	.react-flow__pane.selection {
	cursor: crosshair;
}
.giselle-workflow-editor .react-flow__node.selectable {
	cursor: default;
}
.giselle-workflow-editor .react-flow__node.draggable.dragging {
	cursor: default;
}
.giselle-workflow-editor .react-flow__edge.selectable {
	cursor: default;
}
