@import "tailwindcss";
@import "../../../internal-packages/ui/style.css";
@import "../../../internal-packages/workflow-designer-ui/src/app/globals.css";

@source "../../../internal-packages/ui";
@source "../../../internal-packages/workflow-designer-ui/src";
@source "../../../packages/text-editor/src/react/";

@theme {
	--color-black-950: hsl(0, 0%, 0%);
	--color-black-900: hsl(229, 100%, 2%);
	--color-black-850: hsl(231, 62%, 6%);
	--color-black-820: hsl(207, 27%, 15%);
	--color-black-800: hsl(231, 47%, 22%);
	--color-black-600: hsl(222, 17%, 53%);
	--color-black-400: hsl(222, 21%, 40%);
	--color-black-350: hsl(207, 11%, 47%);
	--color-black-300: hsl(222, 21%, 50%);
	--color-black-250: hsl(222, 57%, 73%);
	--color-black-100: hsl(234, 91%, 5%);
	--color-black-80: hsl(218, 58%, 21%);
	--color-black-70: hsl(222, 21%, 40%);
	--color-black-50: hsl(222, 21%, 40%);
	--color-black-40: hsl(207, 12%, 57%);
	--color-black-30: hsl(207, 19%, 77%);
	--color-black--30: hsl(192, 73%, 84%);
	--color-black--50: hsl(210, 58%, 71%);
	--color-black--70: hsl(202, 52%, 46%);

	--color-white-950: hsl(0 0% 100%);
	--color-white-900: hsl(220, 60%, 98%);
	--color-white-850: hsl(0, 0%, 96%);
	--color-white-800: hsl(207, 43%, 91%);
	--color-white-400: hsl(207, 16%, 75%);
	--color-white-350: hsl(207, 19%, 77%);
	--color-white-300: hsl(220, 24%, 67%);
	--color-white-30: hsl(0, 0%, 100%);

	--color-blue-950: hsl(219, 90%, 52%);
	--color-blue-900: hsl(219, 90%, 52%);
	--color-blue-800: hsl(219, 90%, 60%);
	--color-blue-400: hsl(224, 82%, 68%);
	--color-blue-300: hsl(216, 35%, 64%);
	--color-blue-200: hsl(212, 79%, 87%);
	--color-blue-100: hsl(192, 73%, 84%);

	--color-green-900: hsl(141, 100%, 61%);

	--color-chartreuse-900: hsl(69, 100%, 52%);

	--color-turquoise-900: hsl(178, 94%, 49%);

	--color-red-900: hsl(344, 100%, 62%);

	--color-deep-purple-900: hsl(275, 96%, 44%);

	--color-primary-950: var(--color-blue-950);
	--color-primary-900: var(--color-blue-900);
	--color-primary-800: var(--color-blue-800);
	--color-primary-400: var(--color-blue-400);
	--color-primary-300: var(--color-blue-300);
	--color-primary-200: var(--color-blue-200);
	--color-primary-100: var(--color-blue-100);

	--color-text-node-1: var(--color-turquoise-900);
	--color-text-node-2: hsl(178, 95%, 25%);

	--color-file-node-1: var(--color-chartreuse-900);
	--color-file-node-2: hsl(69, 99%, 32%);

	--color-webPage-node-1: var(--color-chartreuse-900);
	--color-webPage-node-2: hsl(69, 99%, 32%);

	--color-node-data-900: var(--color-chartreuse-900);
	--color-node-plaintext-900: var(--color-turquoise-900);

	--color-generation-node-1: hsl(219, 90%, 52%);
	--color-generation-node-2: hsl(219, 98%, 23%);

	--color-trigger-node-1: var(--color-black-400);
	--color-trigger-node-2: var(--color-black-400);

	--color-action-node-1: var(--color-deep-purple-900);
	--color-action-node-2: hsl(275, 91%, 26%);

	--color-github-node-1: var(--color-deep-purple-900);
	--color-github-node-2: hsl(275, 91%, 26%);

	--color-web-search-node-1: #3a36ff;
	--color-web-search-node-2: color-mix(in srgb, #3a36ff, #000000 20%);

	--color-image-generation-node-1: #0085e0;
	--color-image-generation-node-2: color-mix(in srgb, #0085e0, #000000 20%);

	--color-audio-generation-node-1: #084b8a;
	--color-audio-generation-node-2: color-mix(in srgb, #084b8a, #000000 20%);

	--color-video-generation-node-1: #0098b2;
	--color-video-generation-node-2: color-mix(in srgb, #0098b2, #000000 20%);

	--color-query-node-1: hsl(200, 80%, 50%);
	--color-query-node-2: hsl(200, 80%, 30%);

	--color-error-900: var(--color-red-900);

	--font-accent: var(--font-dm-sans);
	--font-sans: var(--font-dm-sans);
	--font-mono: var(--font-dm-mono);
}

@layer components {
	.prompt-editor,
	.markdown-renderer {
		/* Base variables */
		--base-font-size: 14;
		--rem-base: calc(var(--base-font-size) / 16);
		--line-height-ratio: calc(20 / var(--base-font-size));

		/* Font sizes */
		--text-base: calc(var(--rem-base) * 1rem);
		--text-sm: calc(var(--base-font-size) * 0.857142857 / 16 * 1rem); /* 12px */

		/* Spacing */
		--spacing-1: calc(1 / var(--base-font-size) * 1em);
		--spacing-2: calc(6 / var(--base-font-size) * 1em);
		--spacing-4: calc(16 / var(--base-font-size) * 1em);
		--spacing-5: calc(20 / var(--base-font-size) * 1em);
		--spacing-6: calc(22 / var(--base-font-size) * 1em);

		/* Border radius */
		--radius-base: calc(4 / var(--base-font-size) * 1rem);

		/* Base styles */
		color: var(--color-white-900);
		font-size: var(--text-base);
		line-height: var(--line-height-ratio);

		&:focus-visible {
			outline: none;
		}

		/* Headings */
		h1 {
			font-size: calc(24 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(32 / 24);
			margin-top: calc(32 / 24 * 1em);
			margin-bottom: calc(16 / 24 * 1em);
		}
		h1:first-child {
			margin-top: 0;
		}

		h2 {
			font-size: calc(20 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(28 / 20);
			margin-top: calc(32 / 20 * 1em);
			margin-bottom: calc(16 / 20 * 1em);
		}

		h3 {
			font-size: calc(18 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(28 / 18);
			margin-top: calc(24 / 18 * 1em);
			margin-bottom: calc(12 / 18 * 1em);
		}

		h4 {
			font-size: calc(16 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(24 / 16);
			margin-top: calc(24 / 16 * 1em);
			margin-bottom: calc(12 / 16 * 1em);
		}

		h5 {
			font-size: calc(14 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(20 / 14);
			margin-top: calc(20 / 14 * 1em);
			margin-bottom: calc(12 / 14 * 1em);
		}

		h6 {
			font-size: calc(12 / var(--base-font-size) * 1em);
			font-weight: 600;
			line-height: calc(16 / 12);
			margin-top: calc(20 / 12 * 1em);
			margin-bottom: calc(12 / 12 * 1em);
		}

		/* Paragraph */
		p {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
		}

		/* Bold */
		strong {
			font-weight: 600;
		}

		/* Italic */
		em {
			font-style: italic;
		}

		/* Strike */
		del {
			text-decoration: line-through;
		}

		/* Lists */
		ul {
			list-style-type: disc;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		ol {
			list-style-type: decimal;
			margin-top: var(--spacing-4);
			margin-bottom: var(--spacing-4);
			padding-left: var(--spacing-6);
		}

		li {
			margin-top: var(--spacing-1);
			margin-bottom: var(--spacing-1);
			padding-left: var(--spacing-2);
		}

		/* Inline code */
		code {
			color: var(--color-white-900);
			font-weight: 600;
			font-size: var(--text-sm);
		}

		code::before {
			content: "`";
		}

		code::after {
			content: "`";
		}

		/* Code block */
		pre {
			--pre-font-size: 12;
			--pre-line-height: calc(20 / var(--pre-font-size));

			color: #e5e7eb;
			background-color: #1f2937;
			overflow-x: auto;
			font-weight: 400;
			font-size: var(--text-sm);
			line-height: var(--pre-line-height);
			margin-top: calc(20 / var(--pre-font-size) * 1em);
			margin-bottom: calc(20 / var(--pre-font-size) * 1em);
			border-radius: var(--radius-base);
			padding-top: calc(8 / var(--pre-font-size) * 1em);
			padding-bottom: calc(8 / var(--pre-font-size) * 1em);
			padding-left: calc(12 / var(--pre-font-size) * 1em);
			padding-right: calc(12 / var(--pre-font-size) * 1em);
		}

		pre code {
			background-color: transparent;
			border-width: 0;
			border-radius: 0;
			padding: 0;
			font-weight: inherit;
			color: inherit;
			font-size: inherit;
			font-family: inherit;
			line-height: inherit;
		}

		pre code::before {
			content: none;
		}

		pre code::after {
			content: none;
		}
	}
}
