@import "tailwindcss";

@config '../tailwind.config.ts';
@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;

		--radius: 0.5rem;

		--rosepine_base: 246 24% 17%;
		--rosepine_surface: 248 24% 20%;
		--rosepine_overlay: 248 21% 26%;
		--rosepine_muted: 249 12% 47%;
		--rosepine_subtle: 248 15% 61%;
		--rosepine_text: 245 50% 91%;
		--rosepine_love: 343 76% 68%;
		--rosepine_gold: 35 88% 72%;
		--rosepine_rose: 2 66% 75%;
		--rosepine_pine: 197 48% 47%;
		--rosepine_foam: 189 43% 73%;
		--rosepine_iris: 267 57% 78%;
		--rosepine_highlightLow: 245 22% 20%;
		--rosepine_highlightMed: 247 16% 30%;
		--rosepine_highlightHigh: 249 15% 38%;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--primary_200: 213, 81.2%, 87.3%;
		--primary_100: 192, 73%, 84%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--error_900: 344, 100%, 62%;

		--warning_900: 51, 100%, 66%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;

		--black_850: 231, 62%, 6%;
		--black_800: 231, 47%, 22%;
		--black_400: 222 21.3% 39.2%;
		--black_100: 234 91% 5%;
		--black_80: 218 58% 21%;
		--black_70: 222 21% 40%;
		--black_50: 222 21% 40%;
		--black_40: 207 12% 57%;
		--black_30: 207 19% 77%;
		--black_-30: 192 73% 84%;
		--black_-50: 210 58% 71%;
		--black_-70: 202 52% 46%;
		--green: 142 100% 68%;

		--white: 30 100% 98%;
		--white_900: 220, 60%, 98%;
		--white_850: 0, 0%, 96%;
		--white_400: 210 17.1% 75.3%;

		--red_50: 359 100% 66%;

		--blue_80: 224, 82%, 68%;
	}
}

@layer base {
	.mask-fill {
		-webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0); /* 2つのマスクレイヤー */
		-webkit-mask-clip: padding-box, border-box; /* レイヤーごとの描画領域の範囲 */
		-webkit-mask-composite: destination-out; /* レイヤーが重なっていない領域を描画対象 */
	}
}

.giselle-flow .react-flow__pane.selection {
	cursor: default;
}
.giselle-flow[data-floating-node="true"] .react-flow__pane.selection {
	cursor: crosshair;
}
.giselle-flow .react-flow__node.selectable {
	cursor: default;
}
.giselle-flow .react-flow__node.draggable.dragging {
	cursor: default;
}
.giselle-flow .react-flow__edge.selectable {
	cursor: default;
}

.prose-giselle {
	--tw-prose-body: var(--black_30);
	--tw-prose-headings: var(--black_30);
	--tw-prose-lead: var(--black_30);
	--tw-prose-links: var(--black_30);
	--tw-prose-bold: var(--black_30);
	--tw-prose-counters: var(--black_30);
	--tw-prose-bullets: var(--black_30);
	--tw-prose-hr: var(--black_30);
	--tw-prose-quotes: var(--black_30);
	--tw-prose-quote-borders: var(--black_30);
	--tw-prose-captions: var(--black_30);
	--tw-prose-code: var(--black_30);
	--tw-prose-pre-code: var(--black_30);
	--tw-prose-pre-bg: var(--black_80);
	--tw-prose-th-borders: var(--black_30);
	--tw-prose-td-borders: var(--black_30);
}
